/*Custom Style*/

.navbar{
	border-radius: 0px!important;
}

.navbar-brand{
	background-image: url('../IMG/Engie_logo.png');
	background-size: cover;
	background-position: 0px -13px;
	width: 147px;
}

a{
	color: inherit!important;
	text-decoration: inherit!important;
}

a:focus, a:active{
	color: initial!important;
	text-decoration: initial!important;
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	color: rgb(255,255,255)!important;
	background-color: rgba(30,30,30,0.2)!important;
}

.table{
	margin-bottom: 0px!important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #eaeaea;
    border-color: #ddd;
}